:root {
    --chat-bg-color: var(--b3-theme-surface);

    --chat-user-bg: var(--b3-theme-background-light);
    --chat-assistant-bg: var(--b3-theme-background-light);

    --chat-input-bg: var(--b3-theme-background);

    --chat-text-color: var(--b3-theme-on-surface);
    --chat-border-color: var(--b3-theme-border);

    --chat-input-font-size: 20px;
    --chat-message-font-size: 19px;

    --chat-max-width: 1250px;
    // --chat-narrow-container: 480px;
    // --chat-very-narrow-container: 320px;
}

$chat-narrow-container: 480px;
$chat-very-narrow-container: 320px;

// 顶层的思源容器会设置 container-type 为 inline-size
.chatContainer {
    // container-type: inline-size;
    // container-name: gpt-chat;

    width: 100%;
    height: 100%;
    max-width: var(--chat-max-width);
    flex: 1;
    margin: 0 auto;
    padding: 0 min(20px, 3%);
    padding-bottom: min(20px, 4%);

    background: var(--chat-bg-color);

    display: flex;
    flex-direction: column;
    align-self: center;

    overflow-x: hidden;
}


.topToolbar {
    position: sticky;
    top: 0;
    height: 50px;

    padding: 0 min(10px, 2%);
    margin-top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--chat-bg-color);

    font-size: var(--chat-input-font-size);
    font-weight: 500;
    z-index: 2;

    div.chatTitle {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        white-space: nowrap; // 防止文本换行
        overflow: hidden; // 隐藏超出部分
        text-overflow: ellipsis; // 使用 ... 表示被截断的文本
    }
}

.messageList {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.inputContainer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--chat-bg-color);
    padding: 0;
    border-top: 1px solid var(--chat-border-color);

    .toolbar {
        width: 100%;
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: var(--chat-bg-color);
        border-bottom: 1px solid var(--chat-border-color);

        >:global(.b3-button) {
            height: 27px;

            >svg {
                height: 100%;
                margin: 0 auto;
                fill: currentColor;
            }
        }

        >span[data-role="model"] {
            max-width: 10em !important;
            justify-content: flex-start;
        }

        @container (max-width: #{$chat-narrow-container}) {
            >div[data-role="spacer"] {
                display: none;
            }
            justify-content: unset;
            span[data-hint="true"] {
                display: none;
            }
        }

        @container (max-width: #{$chat-very-narrow-container}) {
            >span[data-role="model"] {
                max-width: 5em !important;
            }
        }
    }

    .inputWrapper {
        position: relative;
        display: flex;
        gap: 8px;
        width: 100%;
        padding: 0px;

        textarea.input {
            flex: 1;
            padding: 10px;
            padding-right: 50px;
            border: 2px solid var(--b3-theme-primary-light);
            border-radius: 8px;
            background: var(--chat-input-bg);
            font-size: var(--chat-input-font-size);
            min-height: 50px;
            max-height: 250px;
            overflow-y: auto;
            color: var(--chat-text-color);
            resize: none;

            &:focus {
                outline: none;
                border-color: var(--b3-theme-primary);
            }
        }
    }

    .attachmentArea {
        min-height: 32px;
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 0 8px;
        margin-bottom: 8px;
    }
}

.sendButton {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 8px;
    font-family: var(--b3-font-family-protyle), inherit;
    font-size: var(--chat-input-font-size);
    background: var(--b3-theme-primary);
    opacity: 0.9;

    &:disabled {
        background: var(--b3-theme-surface);
        opacity: 0.6;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }
}

.text-seperator {
    text-align: center;
    color: var(--b3-theme-on-surface);
    position: relative;
    margin-bottom: 20px;

    span[data-type="button"] {
        position: absolute;
        left: 10px;
        cursor: pointer;
        opacity: 0;
    }

    &:hover {
        span[data-type="button"] {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
        }
    }
}

.batchOperationBar {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--b3-theme-surface);
    border-top: 1px solid var(--b3-border-color);
    gap: 0.5em;

    height: 40px;

    button {
        display: flex;
        align-items: center;
        gap: 0.3em;
        padding: 4px 8px;
    }
}