.listItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
  margin: 0px 22px;
  border: 1px solid var(--b3-border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--b3-theme-surface-light);
  user-select: none;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listItemTitle {
  flex: 1;
  font-weight: bold;
}

.sectionContainer {
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--b3-theme-background);
}

.headerContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.headerTitle {
  flex: 1;
}

.emptyMessage {
  padding: 10px;
  text-align: center;
  color: var(--b3-theme-on-surface);
}
