:root {
    --plugin-docky-zoom: unset;
}

div.plugin-insert-time__conf-item {
    div.form-row {
        display: flex;
        align-items: center;
        margin: 2px auto;

        >span:first-child {
            width: 5em;
            text-align: left;
        }
    }
}

svg.highlight-icon {
    color: var(--b3-theme-primary);
}

svg.highlight-icon~span.b3-menu__label {
    color: var(--b3-theme-primary);
    font-weight: 500;
}

/* Rotate by 90 degrees */
.rotate-90 {
    transform: rotate(90deg);
}

/* Rotate by 180 degrees */
.rotate-180 {
    transform: rotate(180deg);
}



.docky-panel-body.protyle {
    zoom: var(--plugin-docky-zoom);
    .protyle-wysiwyg {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

// 转移引用插件

$table-border-color: var(--b3-theme-surface-light);

main.transfer-ref#main {
    // display: flex;
    // flex-direction: row;
    font-size: 1rem;

    #refs {
        flex: 3;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 0.5rem;
        border: 1px solid var(--border-color);

        div.refs-table {
            display: table;
            border-collapse: collapse;
            border: 1px solid $table-border-color;

            .row {
                display: table-row;
        
                .cell {
                    display: table-cell;
                    padding: 10px 5px;
                    border: 1px solid $table-border-color;
                    color: var(--b3-theme-on-background);
                    box-sizing: border-box;
                    word-break: break-word;
                    min-width: 5em;
                }

                .cell-0 {
                    @extend .cell;
                    width: 2rem;
                    min-width: 1em;
                    text-align: center;
                }
        
        
                &.header {
                    display: table-header-group;
                    font-weight: bold;
                    background-color: var(--b3-theme-background);
                }
            }

            .row>.cell.blockType {
                text-align: center;

                >span {
                    color: var(--b3-protyle-inline-link-color);
                    border-bottom: 1px solid var(--b3-protyle-inline-link-color);

                    &:hover {
                        text-shadow: 0 0 10px var(--b3-protyle-inline-link-color);
                    }
                }
            }

            .row>.cell:nth-child(3) {
                text-align: center;
            }
        }
    }

    #dsts {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border: 1px solid var(--border-color);
        max-width: 15rem;

        >#transBtn {
            flex: 1;
            max-height: 3rem;
            display: flex;

            :nth-child(1) {
                flex: 3;
                margin-right: 2px;

                >input {
                    width: 100%;
                }
            }

            :nth-child(2) {
                flex: 1;

                >button {
                    width: 100%;
                }
            }
        }

        >#dstOptions {
            flex: 3;
            overflow: auto;

            >label {
                display: block;
                margin: 1rem;
            }
        }
    }
}
