div.plugin-insert-time__conf-item {
    div.form-row {
        display: flex;
        align-items: center;
        margin: 2px auto;
        >span:first-child {
            width: 5em;
            text-align: left;
        }
    }
}

svg.highlight-icon {
    color: var(--b3-theme-primary);
}
svg.highlight-icon ~ span.b3-menu__label {
    color: var(--b3-theme-primary);
    font-weight: 500;
}
